<div style="display: flex; justify-content: center; background-color:#ccc; padding: 5px 0px;">
  <ul class=" nav nav-pills">
    <li class = "nav-link"><img src="assets/css/images/logo.jpg" class="img-circle img-fluid" width="40px" height="40px"></li>
    {% for item in site.data.navigation %}
    <li class = "nav-link {% if page.url == item.link %} active {% endif %}"><a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a></li>
    {% endfor %}
  </ul>
</div>